services:
  postgres:
    image: postgres:15
    container_name: user_db
    environment:
      POSTGRES_USER: ndifrekeedem
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: user_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"

  user-service:
    build: .
    container_name: user_service
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/user_db
      SPRING_DATASOURCE_USERNAME: ndifrekeedem
      SPRING_DATASOURCE_PASSWORD: password123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
